<header class="header">
  <div class="container header__wrap">
    <div class="logo">
      <a href="index.html">
        <!-- <img src="assets/images/logo.png" alt=""> -->
      </a>
    </div>
    <nav class="nav js-burger" id="nav">
      <a href="index.html" class="logo-active">
        <!-- <img src="assets/images/logo.png" alt=""> -->
      </a>
      <ul class="nav__list py-20 py-tb-40 p">
        <li class="nav__item"><a href="">About</a></li>
        <li class="nav__item"><a href="ui-kit.html">Ui kit</a></li>
        <li class="nav__item"><a href="">Second title</a></li>
        <li class="nav__item"><a href="">Third title</a></li>
        <li class="nav__item"><a href="">Fourth title</a></li>
        <li class="nav__item"><a href="">Fifth title</a></li>
      </ul>
    </nav>
    <div class="burger js-burger-open">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>